<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="jumbotron shadow">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 py-2">
                        <img src="http://localhost:3000/uploads/user/leanpv.jpg" target="_blank" alt="">
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-8 py-2">
                        <h1 class="display-4">Hola, Patagonian!</h1>
                        <p class="lead">Mi nombre es <b>Leandro Puebla</b>, me apasiona innovar y busco rodearme de personas que me incentiven a crecer y superarme cada día.</p>
                        <hr class="my-4">
                        <p>Tengo skills principalmente en Angular, CSS, HTML, API Rest, Git, RxJs, Reactive Forms y Typescript.</p>
                        <a href='https://www.linkedin.com/in/leandropuebla/'><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>